@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&family=Rubik&display=swap');

body {
    background: url('/img/quiz_bg.png') repeat;
    background-color: #FFFCF3;
    height: 100vh;
    margin: 0;
    padding-top: 5em;
    font-size: 16px;
}

/* COMMON */

div.content {
    font-family: 'Rubik', sans;
/*    font-size: 14px;*/
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background: white;
    box-shadow: 5px 5px 5px lightgray;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.logo {
    font-family: 'Fuzzy Bubbles', sans;
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.logo-link {
    color: white;
    text-decoration: none;
}

nav {
    background-color: #50858B;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

div.nav-content {
    align-content: center;
    height: 3rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 auto 0 auto;
    max-width: 70vw;
}

div.nav-content a.nav-link {
    font-family: 'Rubik', sans;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: bold;
    color: white;
    transition: color ease-out .1s;
    margin: 0 1rem;
}

div.nav-content a.nav-link:hover {
    color: #283044;
    transition: color ease-in .1s;
}

.error-notification-box {
    background: rgb(255, 212, 212);
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    padding: 5px;
}

.success-notification-box {
    background: rgb(212, 255, 212);
    color: green;
    border: 1px solid green;
    border-radius: 5px;
    padding: 5px;
}

hidden {
    display: none;
}

button {
    background-color: #5497A7;
    border: 2px solid #50858B;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    padding: 5px;
    min-width: 100px;
    transition: background-color .5s ease;
}

button:hover {
    cursor: pointer;
    background-color: #83D4D8;
    transition: background-color .5s ease;
}

button.dangerous-button {
    background-color: #FF8080;
    border: 2px solid red;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    padding: 5px;
    min-width: 100px;
    transition: background-color .5s ease;
}

button.dangerous-button:hover {
    cursor: pointer;
    background-color: #FFA0A0;
    transition: background-color .5s ease;
}

button.disabled {
    background-color: lightgrey;
    border: 2px solid grey;
    border-radius: 5px;
    cursor: default;
}

input {
    font-family: 'Rubik', sans;
    padding: 3px;
    font-size: 1em;
}

input[type=checkbox] {
    width: 1.2rem;
    height: 1.2rem;
}

/* MAIN FORM */



footer {
    margin-bottom: 0;
    bottom: 0;
    position: absolute;
}

/* LOGIN FORM */

.login {
    width: 500px;
}

.login h1 {
    background-color: #50858B;
    color: white;
    line-height: 2em;
    margin: -10px -10px auto -10px;
    text-align: center;
}

.login h2 {
    font-size: 1.5em;
}

label,
.login input {
    display: block;
    margin: 10px 0 10px 0;
}

.login .error p {
    color: red;
}

.login a {
    color: #50858B;
    text-decoration: none;
}

.login a:hover {
    text-decoration: underline;
}

/* CONTRIBUTE PAGE */

.quiz-contribute-form-content input,
.quiz-contribute-form-content textarea {
    display: block;
    min-width: 50%;
}

.quiz-options-table {
    border: 1px solid grey;
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

.quiz-options-table-row {
    margin: 5px 0;
}

.quiz-options-table td {
    text-align: center;
}

.quiz-options-table th {
    background-color: #50858B;
    color: white;
    line-height: 1.8em;
}

.quiz-options-table .quiz-options-table-row:nth-child(even) {
    background-color: lightgrey;
}

.quiz-options-table textarea {
    box-sizing: border-box;
    min-width: 100%;
    margin: 5px 0;
}

/* PLAY PAGE */

.quiz-play-table {
    border: 1px solid grey;
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

.quiz-play-table-row {
    margin: 5px 0;
}

.quiz-play-table .quiz-play-table-row:nth-child(even) {
    background-color: rgba(192, 192, 192, .5);
}

.quiz-play-table td.checkbox-cell {
    text-align: center;
    width: 10%;
}

.quiz-play-table td.option-cell {
    text-align: left;
}

.quiz-options-table th {
    background-color: #50858B;
    color: white;
    line-height: 1.8em;
}

.success {
    background: rgb(212, 255, 212);
    transition: background-color ease-in 1s;
}

.fail {
    background: rgb(255, 212, 212);
    transition: background-color ease-in 1s;
}

/* ACCOUNT PAGE */

.account-form-content {
    margin-bottom: 20px;
}

.account-form-content input {
    display: block;
    min-width: 50%;
}

/* REGISTER PAGE */

.register-form-content {
    margin-bottom: 20px;
}